<h1><%= @product.name %></h1>
<p><strong>Descrição:</strong> <%= @product.description %></p>
<p><strong>Preço:</strong> <%= number_to_currency(@product.price) %></p>
<%= image_tag @product.image if @product.image.present? %>
<%= link_to 'Editar', edit_product_path(@product) %>
<%= link_to 'Voltar', products_path %>
